services:
  traefik:
    image: traefik:3.5.4
    container_name: ${PROJECT_NAME}-traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - ${NETWORK_NAME}

  redis:
    image: redis:8.2.3
    container_name: ${PROJECT_NAME}-redis
    volumes:
      - redis_data:/data
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: ${PROJECT_NAME}-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./infra/postgres/init-dbs.sql:/docker-entrypoint-initdb.d/init-dbs.sql
    networks:
      - ${NETWORK_NAME}
    ports:
      - "5433:5432"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    container_name: ${PROJECT_NAME}-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: ${PROJECT_NAME}-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  users-service:
    build:
      context: .
      dockerfile: ./backend/services/users/Dockerfile
    container_name: ${PROJECT_NAME}-users-service
    environment:
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    networks:
      - ${NETWORK_NAME}
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    restart: unless-stopped

  notification-service:
    build:
      context: .
      dockerfile: ./backend/services/notifications/Dockerfile
    container_name: ${PROJECT_NAME}-notification-service
    networks:
      - hoshi-network
    depends_on:
      rabbitmq:
        condition: service_started
    restart: unless-stopped

    environment:
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_APP_PASSWORD=${EMAIL_APP_PASSWORD}

  api-gateway:
    build:
      context: .
      dockerfile: ./backend/api-gateway/Dockerfile
    container_name: ${PROJECT_NAME}-api-gateway
    networks:
      - ${NETWORK_NAME}
    ports:
      - "8081:8080"
    depends_on:
      - users-service
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-http.rule=Host(`api.hoshi.localhost`)"
      - "traefik.http.routers.api-http.entrypoints=web"
      - "traefik.http.routers.api-secure.rule=Host(`api.hoshi.localhost`)"
      - "traefik.http.routers.api-secure.entrypoints=websecure"
      - "traefik.http.routers.api-secure.tls=true"
      - "traefik.http.services.api-service.loadbalancer.server.port=8080"

volumes:
  redis_data:
  minio_data:
  postgres_data:

networks:
  hoshi-network:
    driver: bridge
