version: '3.8'

services:
  traefik:
    image: traefik:3.5.4
    container_name: ${PROJECT_NAME}-traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - ${NETWORK_NAME}
  
  redis:
    image: redis:8.2.3
    container_name: ${PROJECT_NAME}-redis
    volumes:
      - redis_data:/data
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped
  
  postgres:
    image: postgres:16-alpine
    container_name: ${PROJECT_NAME}-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infra/postgres/init-dbs.sql:/docker-entrypoint-initdb.d/init-dbs.sql
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  minio:
    image: minio/minio
    container_name: ${PROJECT_NAME}-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" 
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: ${PROJECT_NAME}-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"  
      - "15672:15672"
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped

  users-service:
    build: ./backend/services/users 
    container_name: ${PROJECT_NAME}-users-service
    networks:
      - ${NETWORK_NAME}
    depends_on:
      - postgres 
      - rabbitmq
    restart: unless-stopped

volumes:
  redis_data:  
  minio_data:
  postgres_data:

networks:
  ${NETWORK_NAME}:
    driver: bridge