go 1.25.3

use (
	./backend/api-gateway
	./backend/proto
	// ./backend/services/admin
	// ./backend/services/chat
	./backend/services/notifications
	./backend/services/posts
	./backend/services/users
)
