root = "."
tmp_dir = "tmp"

[build]
cmd = "swag init -g cmd/main.go -o docs --parseDependency --parseInternal && go build -o ./tmp/api-gateway ./cmd/main.go"
bin = "./tmp/api-gateway"
include_ext = ["go", "toml"]
exclude_dir = ["tmp", "vendor", "docs"]
include_dir = []
exclude_regex = ["_test.go"]
delay = 1000

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true